# Ignore Data & Outputs
data/
outputs/
exports/

# Ignore Large Media Files
*.mp4
*.ckpt
*.pth
*.zip

# Ignore Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore Virtual Environments
venv/
env/
.env

# Keep the assets folder (for your GIF)
!assets/
